extends layout

block content
  .useranameClass
    #username #{user.username}
    a(href="/signout") Odhlásiť sa
  #gameArea
    // This is where the templates defined below will be used
  // Main Title Screen that appears when the page loads for the first time
  script#intro-screen-template(type='text/template').
    <div class="titleWrapper">
    <div class="title">
    REFLEX CHALLLANGE
    </div>
    <div class="buttons">
    <button id="btnCreateGame" class="btn left">CREATE</button>
    <button id="btnJoinGame" class="btn right">JOIN</button>
    <div style="clear: both"></div>
    </div>
    </div>
  // This screen appears when a user clicks "CREATE" on the Title Screen
  script#create-game-template(type='text/template').
    <div class="createGameWrapper">
    <div class="info">Otvorte túto stránku vo vašom prehliadači</div>
    <div id="gameURL" class="infoBig">Error!</div>
    <div class="info">Kliknite na <strong>JOIN</strong> and <br/> a vložte nasledujúce Game ID:</div>
    <div id="spanNewGameCode" class="gameId">Error!</div>
    <div class="info">..hra sa spustí automaticky keď sa pripojí hráč</div>
    <div id="playersWaiting"></div>
    </div>
  // This scrreen appears when a player clicks "JOIN" on the Title Screen
  script#join-game-template(type='text/template').
    <div class="joinGameWrapper">
    <div class="info">
    <label for="inputPlayerName">Vaše meno:</label>
    <input id="inputPlayerName" type="text" value="#{user.username}" />
    </div>
    <div class="info">
    <label for="inputGameId">Game ID:</label>
    <input id="inputGameId" type="text"/>
    </div>
    <div class="info buttons">
    <button id="btnStart" class="btn">Start</button>
    <div id="playerWaitingMessage"></div>
    </div>
    </div>
  // This is the 'Host' screen. It displays the word for each player to match
  script#host-game-template(type='text/template').

    <div class="row">
      <div id="playerScores">
        <div id="player1Score" class="playerScore">
        <span class="score">0</span><span class="playerName">Player 1</span>
        </div>
        <div id="player2Score" class="playerScore">
        <span class="playerName">Player 2</span><span class="score">0</span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
      <div id="wordArea">
      <div id="hostWord"></div>
      </div>
      </div>

     <div class="col-md-6">
      <div id="resultsArea">
      </div>
      </div>

    </div>
